.AnimatedSloganComponent {
  h1 {
    font-family: 'Oswald', sans-serif;
    span {
      font-family: 'Sacramento', cursive;
      font-size: 50px;
      font-weight: 200;
    }
  }

  h4 {
    font-family: 'Open Sans Condensed', sans-serif;
  }

  p {
    font-family: 'Montserrat', sans-serif;
  }
}
