.IngredientInfoComponent {
  max-width: 900px;
  > div.ingredient-name {
    align-items: center;
    display: flex;
    > h1 {
      font-family: 'Poppins', sans-serif;
      font-size: 20px;
      letter-spacing: 0.10rem;
      margin-right: 1rem;
    }
    > p {
      cursor: pointer;
    }
  }
  > div.ingredient-info {
    p {
      font-family: 'Poppins', sans-serif;
      line-height: 1.4rem;
    }
    a {
      color: #545454;
      font-family: 'Poppins', sans-serif;
      font-size: 12px;
      text-decoration: none;
    }
  }
}
