.HeaderComponent {
  align-items: center;
  background-color: #ede9e0;
  display: flex;
  height: 65px;
  justify-content: space-between;
  padding: 0 3rem;
  ul {
    align-items: center;
    display: flex;
    height: 100%;
    list-style: none;
    li {
      margin-right: 0.75rem;
      a {
        color: #a68b80;
      }
    }
  }
  h3 {
    color: #a68b80;
    font-family: 'Sacramento', cursive;
    font-size: 38px;
    font-weight: 400;
  }
}
