.NavComponent {
  height: 100%;
  > ul {
    border-left: 2px solid #ddcabc;
    border-right: 2px solid #ddcabc;
    justify-content: center;
    margin: 0;
    li {
      font-family: 'Poppins', sans-serif;
      font-size: 11px;
      margin-right: 2rem;
      a {
        color: #000000;
        text-decoration: none;
      }
    }
  }
}
